<div class="sideBar">
    <h1 class="h1 sideBar_title">ANSWER</h1>
    <ul class="nav">
        <li class="sideBar_function">
            <a class="dashboard" href="#">
                <span class="material-icons me-3">
                    assessment
                </span>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sideBar_function">
            <a class="question" href="#">
                <span class="material-icons me-3">
                    question_answer
                    </span>
                <span>Question</span>
            </a>
        </li>
        <li class="sideBar_function">
            <a class="assignment" href="assignment.html">
                <span class="material-icons me-3">
                    assignment
                </span>
                <span>Assignment</span>
            </a>
        </li>
        <li class="sideBar_function">
            <a class="course" href="#">
                <span class="material-icons me-3">
                    video_library
                </span>
                <span>Course</span>
            </a>
        </li>
        <li class="sideBar_function">
            <a class="admin" href="#">
                <span class="material-icons me-3">
                    supervisor_account
                </span>
                <span>Admin</span>
            </a>
        </li>
        <li class="sideBar_function">
            <a class="settings" href="#">
                <span class="material-icons me-3">
                    settings
                </span>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <div class="administrator mt-auto">
        <img class="rounded-circle" width="40" src="https://randomuser.me/api/portraits/men/9.jpg" alt="" class="userPhoto">
        <div class="userInfo">
            <div class="name mb-1">Andy Chen</div>
            <div class="userMail">andy0401@mail.com</div>
        </div>
    </div>
</div>