.container_s{
    max-width: 980px;
    padding-left: 32px;
    padding-right: 32px;
}
// .assignment{
//     color: $success;
// }
.assignmentPage{
    padding-bottom: 32px;
}
.assignment_header{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    padding-top: 32px;
    .assignment_title{
        font-size: 24px;
        font-weight: bold;
        margin-right: 50px;
        line-height: 33px;
    }
    .courseSort{
        display: flex;
        align-items: center;
        .selected{
            margin-right: 9px;
        }
    }
}
.assignment_body{
    display: flex;
}
.faq{
    width: 320px;
    .qlSort{
        margin-bottom: 6px;
    }
    .qlList{
        border-radius: 2px;
        border: 1px solid #CED4DA;
    }
    .qlItem{
        padding: 12px;
        .qlPosition{
            font-size: 12px;
            line-height: 2;
        }
        .qlTime{
            font-size: 12px;
            line-height: 2;
        }
        .qlTitle{
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
        }
        .qlAuthor{
            font-size: 12px;
            line-height: 2;
            color: #6C757D;
        }
    }
    .actived{
        background-color: #F8F9FA;
    }
}
.qDisplay{
    margin-left: 16px;
    max-width: 584px;
    .note{
        font-size: 12px;
        line-height: 2;
        color: #6C757D;
        text-align: right;
        margin-bottom: 6px;
    }
    .qDialogue{
        border: 1px solid #CED4DA;
    }
    .btnGroup{
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
    }
}
.qHeader{
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: 1px solid #CED4DA;
    .qPosition{
        font-size: 12px;
        line-height: 2;
    }
    .qTitle{
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
    }
}
.dialogueCard{
    padding: 16px 32px 0 16px;
    display: flex;
    .spacerLine{
        border-bottom: 1px solid #CED4DA;
        padding-top: 16.5px;
    }
    .dialogueContent{
    }
    .userPic{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .contentInfo{
        margin-bottom: 16px;
        .name{
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
        }
        .timeStamp{
            font-size: 12px;
            line-height: 2;
            color: #6C757D;
        }
    }
    .qContent{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    .attached{
        background-color: #F8F9FA;
        padding: 8px 16px;
        border: 1px solid #CED4DA;
        display: inline-block;
        .material-symbols-outlined{
            display: inline-block;
            vertical-align: middle;
        }
    }
}